<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>Hey, my name is Muhammad Faisal Khan. I'm a 19-year-old programmer studying at Seneca College. So far, I've
        worked with languages such as C, C++, javascript, and a bit of Python. My goal is to learn as many languages as
        possible and get a job as a front-end developer. I've been working on my portfolio recently and it has helped me
        broaden my knowledge in HTML, CSS, and Javascript. I hope to one day create a platform that is free of
        discrimination, and a place where nobody feels judged and can post freely.</p>
      <p>My favourite pastime hobbies are reading, coding, and taking as many pictures of the sunset as possible.
        Currently, my gallery has over 1000 pictures of just the sunset. I plan to save up enough money to buy a good
        camera and take even better pictures of the sky. Fall is my favourite time to take pictures of the sky since the
        weather is just perfect, not too cold nor too hot. Weirdly enough, this is also the season where I'm most
        productive.</p>
      <p>Due to COVID-19 all of my college experience so far has been online. However, this has allowed me to devote
        more time to social media applications like Instagram and Discord in order to interact with other students in
        the same program. It also taught me how to approach someone in an email or text message because your genuine
        tone of voice cannot be perceived over the internet. In addition, I learned the value of exercise and what it
        meant to keep my body healthy. After a month of not leaving my house every other day, I realized I needed to
        establish a gym regimen. I can't say I'm in the habit of it yet, but I'm getting there.</p>
      <p>Duis egestas cursus diam, ut volutpat tortor mattis tempor. In et imperdiet turpis. Proin aliquet, lectus
        ultrices fringilla lobortis, purus risus imperdiet neque, eget consectetur ligula quam non arcu. Curabitur vitae
        posuere elit, in faucibus felis. Suspendisse vitae nisl eget ligula condimentum bibendum in ut nulla. Etiam non
        lacinia turpis. Aliquam placerat est vestibulum turpis pretium elementum. Integer pharetra gravida massa, at
        aliquam turpis pulvinar sit amet. Nam a lectus sed mauris suscipit commodo a non ipsum. Aenean dapibus porttitor
        massa vitae auctor. Donec quis ultricies orci. Etiam semper, lectus vitae tristique ullamcorper, risus lectus
        semper nulla, quis accumsan sem leo at neque.</p>
      <p>Nullam vulputate lectus at nisi euismod, nec consectetur lorem elementum. Vestibulum id justo metus. Etiam id
        lacinia nulla. Fusce aliquet convallis mauris iaculis iaculis. Suspendisse et eleifend tortor. Nunc non
        tincidunt lorem. Integer consectetur magna felis, vel mattis diam varius id. Morbi elementum semper purus, nec
        ullamcorper neque mattis in. Nulla facilisi. Vivamus mollis justo eget urna bibendum sodales.</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>MORE ABOUT ME :)</p>
  </aside>
</div>