<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p> Hello, my name is Faisal Khan. This is my blog.</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>MORE ABOUT ME :)</p>
  </aside>
</div>